@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Get";
}
@model MVC.Models.BookModel
<div>
    <table>
        <tr>
            <td>
                @Localizer["Name"]:
            </td>
            <td>
                <span>@Model.Name</span>
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Year"]:
            </td>
            <td>
                <span>@Model.Year</span>
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Amount"]:
            </td>
            <td>
                <span>@Model.Amount</span>
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Tags"]:
            </td>
            <td>
                @foreach (var tag in @Model.Tags)
                {
                    <span>@tag.Name</span><br />
                }
            </td>
        </tr>
    </table>
</div>