
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>

    <link rel="stylesheet" type="text/css" href="~/css/main-styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header style="color:black; text-decoration:none; font-size:150%">
            <div class="row">
                <div class="col-4">
                    <a href="@Url.Action("Index")">@Localizer["Books"]</a>
                </div>
                <div class="col-4">
                    <a href="@Url.Action("Create","Books")">@Localizer["Create Book"]</a>
                </div>
                <div class="col-4" style="font-size: 10px;">
                    <form id="selectLang" asp-controller="Books" asp-action="ChooseLang"
                          asp-route-returnUrl="@Context.Request.Path" method="post">
                        <select name="culture">
                            <option disabled selected>@Localizer["Choose Language"]</option>
                            <option value="ru">Русский</option>
                            <option value="en">English</option>
                        </select>
                        <button type="submit">@Localizer["Save"]</button>
                    </form>
                </div>
            </div>
        </header>
        <hr />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
